{% extends "CmarMeetingBundle::base.html.twig" %}
{% block title %}
Date
{% endblock %}

{% block body %}
<a href="{{ path('wizard_metadata') }}">Metadata</a> &raquo; <a href="#">Date</a> &raquo; Users &raquo; End

<div>Meeting do not created, contact with your admin</div>

{% endblock %}
